[Desktop Entry]
Type=Application
Name=NeuroScope
GenericName=Neurophysiological Data Viewer
Comment=View local field potentials, spikes, events and animal position
Icon=neuroscope
Exec=neuroscope %f
TryExec=neuroscope
MimeType=application/nphys-dat;application/nphys-fil;application/nphys-lfp;application/nphys-eeg;application/nphys-nrs;application/nphys-ns1;application/nphys-ns2;application/nphys-ns3;application/nphys-ns4;application/nphys-ns5;application/nphys-ns6;application/nphys-nev;
Categories=Qt;Education;Science;Biology;DataVisualization;
Keywords=electrophysiology;LFP;spikes;neuroscience;
