<!DOCTYPE kpartgui>
<kpartgui name="neuroscope" version="0.1">

<State name="initState" >
  <Disable>
   <Action name="file_save" />
   <Action name="file_save_as" />
   <Action name="file_print" />
   <Action name="file_close" />
   <Action name="close_cluster_file" />
   <Action name="close_event_file" />   
   <Action name="file_properties" />
   <Action name="load_cluster_files" />
   <Action name="load_event_files" />
   <Action name="load_position_file" />
   <Action name="close_position_file" />
   <Action name="create_event_file" />   
   <Action name="zoom" />
   <Action name="select" />
   <Action name="measure" />
   <Action name="time" />
   <Action name="select_event" />
   <Action name="draw_time_line" />
   <Action name="grey_scale"/>
   <Action name="create_group"/>
   <Action name="edit_undo" />
   <Action name="edit_redo" />   
   <Action name="edit_select_all"/>
   <Action name="edit_select_all_except01"/>
   <Action name="edit_deselect_all"/>
   <Action name="display_mode"/>
   <Action name="increase_all_channels"/>
   <Action name="decrease_all_channels"/>
   <Action name="increase_selected_channels"/>
   <Action name="decrease_selected_channels"/>               
   <Action name="vertical_lines"/>
   <Action name="raster"/>
   <Action name="waveforms"/>
   <Action name="increase_raster_height"/>
   <Action name="decrease_raster_height"/>
   <Action name="show_next_cluster" />
   <Action name="show_previous_cluster" />
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>    
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="show_labels"/>
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>   
   <Action name="edit_mode" />
   <Action name="reset_offsets" />
   <Action name="reset_gains" />   
   <Action name="synchronize" />   
   <Action name="new_display" />
   <Action name="rename_display" />
   <Action name="close_display" />
   <Action name="show_calibration" />
   <Action name="show_next_event" />
   <Action name="show_previous_event" />
   <Action name="remove_event" />
   <Action name="add_event" />
   <Action name="add_event_toolbarAction" />
   <Action name="position_view"/>
   <Action name="show_events"/>
   <Action name="keep_channels" />
   <Action name="skip_channels" />
   <Action name="set_default_offsets" />
   <Action name="set_default_offsets_0" />
  </Disable>
  <Enable>
    <Action name="file_open" />
    <Action name="file_open_recent" />
  </Enable>
 </State>

 <State name="documentState" >
  <Enable>
   <Action name="file_save" />
   <Action name="file_save_as" />
   <Action name="file_print" />
   <Action name="file_properties" />
   <Action name="load_cluster_files" />
   <Action name="load_event_files" />
   <Action name="create_event_file" /> 
   <Action name="file_close" />
   <Action name="close_cluster_file" />
   <Action name="close_event_file" />
   <Action name="load_position_file" />   
   <Action name="zoom" />
   <Action name="select" />
   <Action name="measure" />
   <Action name="time" />
   <Action name="draw_time_line" />
   <Action name="grey_scale"/>
   <Action name="create_group"/>
   <Action name="edit_select_all"/>
   <Action name="edit_deselect_all"/>
   <Action name="display_mode"/>
   <Action name="increase_all_channels"/>
   <Action name="decrease_all_channels"/>
   <Action name="increase_selected_channels"/>
   <Action name="decrease_selected_channels"/>       
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>    
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="show_labels"/>   
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>  
   <Action name="edit_mode" />
   <Action name="synchronize" />
   <Action name="reset_offsets" />
    <Action name="reset_gains" />   
   <Action name="new_display" />
   <Action name="close_display" />
   <Action name="show_calibration" />
   <Action name="keep_channels" />
   <Action name="skip_channels" />   
   <Action name="set_default_offsets" />
   <Action name="set_default_offsets_0" />   
  </Enable>
 </State>

 <State name="noChannelState" >
  <Disable>
   <Action name="create_group"/>
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>    
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>  
   <Action name="edit_mode" />
   <Action name="synchronize" />
   <Action name="reset_offsets" />
   <Action name="reset_gains" />    
   <Action name="keep_channels" />
   <Action name="skip_channels" />   
  </Disable>
 </State>

 <State name="displayChannelState" >
  <Enable>
   <Action name="create_group"/>
   <Action name="discard_channels"/>   
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>   
   <Action name="edit_mode" />
   <Action name="synchronize" />
   <Action name="reset_offsets" />
   <Action name="reset_gains" />   
   <Action name="keep_channels" />
   <Action name="skip_channels" />   
  </Enable>
  <Disable>
   <Action name="discard_spike_channels"/>
   <Action name="edit_select_all_except01"/>
   <Action name="close_cluster_file" />
   <Action name="close_event_file" />
  </Disable> 
 </State>

 <State name="spikeChannelState" >
  <Enable>
   <Action name="create_group"/>
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>   
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>  
   <Action name="edit_mode" />
   <Action name="synchronize" />
   <Action name="reset_offsets" />
   <Action name="reset_gains" />  
   <Action name="keep_channels" />
   <Action name="skip_channels" />    
  </Enable>
  <Disable>
   <Action name="edit_select_all_except01"/>
   <Action name="close_cluster_file" />
   <Action name="close_event_file" />
  </Disable>
 </State>

 <State name="editState" >
  <Enable>
   <Action name="create_group"/>
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>    
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="synchronize" />
   <Action name="reset_offsets" />  
   <Action name="select" />
   <Action name="keep_channels" />
   <Action name="skip_channels" />   
  </Enable>
 </State>

 <State name="noEditState" >
  <Disable>
   <Action name="create_group"/>
   <Action name="discard_channels"/>
   <Action name="discard_spike_channels"/>    
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Action name="synchronize" />
   <Action name="reset_offsets" /> 
   <Action name="select" />
   <Action name="keep_channels" />
   <Action name="skip_channels" />   
  </Disable>
 </State>

 <State name="enableEditState" >
  <Enable>
   <Action name="edit_mode" />
  </Enable>
 </State>

   
 <State name="tabState" >
  <Enable>
   <Action name="rename_display" />
  </Enable>
 </State>

 <State name="noTabState" >
  <Disable>
   <Action name="rename_display" />
  </Disable>
 </State>

 <State name="datState" >
  <Enable>
   <Action name="waveforms"/>
  </Enable>
 </State>

 <State name="noDatState" >
  <Disable>
   <Action name="waveforms"/>
  </Disable>
 </State>


 <State name="clusterTabState" >
  <Enable>
   <Action name="edit_select_all_except01"/>
   <Action name="close_cluster_file" />
  </Enable>
  <Disable>
   <Action name="close_event_file" />
  </Disable>  
 </State>
 
 <State name="clusterState" >
  <Enable>
   <Action name="vertical_lines"/>
   <Action name="raster"/>
   <Action name="waveforms"/>
  </Enable>
 </State>

 <State name="noClusterState" >
  <Disable>
   <Action name="vertical_lines"/>
   <Action name="raster"/>
   <Action name="waveforms"/>
   <Action name="increase_raster_height"/>
   <Action name="decrease_raster_height"/>
   <Action name="show_next_cluster" />
   <Action name="show_previous_cluster" />
  </Disable>
 </State>

 <State name="noClusterBrowsingState" >
  <Disable>
   <Action name="show_next_cluster" />
   <Action name="show_previous_cluster" />
  </Disable>
 </State>

 <State name="clusterBrowsingState" >
  <Enable>
   <Action name="show_next_cluster" />
   <Action name="show_previous_cluster" />
  </Enable>
 </State>
 
 
 <State name="noClusterRasterState" >
  <Disable>
   <Action name="increase_raster_height"/>
   <Action name="decrease_raster_height"/>
  </Disable>
 </State>

 <State name="clusterRasterState" >
  <Enable>
   <Action name="increase_raster_height"/>
   <Action name="decrease_raster_height"/>
  </Enable>
 </State>
 
 
 <State name="eventState" >
  <Enable>
   <Action name="select_event" />
   <Action name="remove_event" />
   <Action name="add_event" />
   <Action name="add_event_toolbarAction" />   
  </Enable>
 </State>

 <State name="noEventState" >
  <Disable>
   <Action name="show_next_event" />
   <Action name="show_previous_event" />
   <Action name="select_event" />
   <Action name="remove_event" />
   <Action name="add_event" />
   <Action name="add_event_toolbarAction" />
   <Action name="edit_undo" />
   <Action name="edit_redo" />   
   <Action name="show_events"/>
  </Disable>
 </State> 

 <State name="noEventBrowsingState" >
  <Disable>
   <Action name="show_next_event" />
   <Action name="show_previous_event" />
  </Disable>
 </State>

 <State name="eventBrowsingState" >
  <Enable>
   <Action name="show_next_event" />
   <Action name="show_previous_event" />
  </Enable>
 </State>
 
 <State name="positionState" >
  <Enable>
    <Action name="close_position_file" />
    <Action name="position_view"/>
  </Enable>
  <Disable>
   <Action name="load_position_file" />
  </Disable>
 </State>

 <State name="noPositionState" >
  <Enable>
    <Action name="load_position_file" />
  </Enable>
  <Disable>
   <Action name="close_position_file" />
   <Action name="position_view"/>
   <Action name="show_events"/>
  </Disable>
 </State>


 <State name="eventsInPositionViewEnableState" >
  <Enable>
   <Action name="show_events"/>
  </Enable>
 </State> 
  
 <State name="eventTabState" >
  <Enable>
   <Action name="close_event_file" />
   <Action name="add_event" />
   <Action name="add_event_toolbarAction" />
  </Enable>
  <Disable>
   <Action name="edit_select_all_except01"/>
   <Action name="close_cluster_file" />
  </Disable>  
 </State>
 

 <State name="undoState" >
  <Enable>
   <Action name="edit_undo" />
   <Action name="edit_redo" />
  </Enable>
 </State>

 <State name="emptyRedoState" >
  <Disable>
   <Action name="edit_redo" />
  </Disable>
 </State>

 <State name="emptyUndoState" >
  <Disable>
   <Action name="edit_undo" />
  </Disable>
  <Enable>
   <Action name="edit_redo" />
  </Enable>
 </State>
   
 <MenuBar>
  <Menu name="file" >
   <Action append="open_merge" name="load_cluster_files" />
   <Action append="open_merge" name="load_event_files" />
   <Action append="open_merge" name="create_event_file" />
   <Action append="open_merge" name="load_position_file" />
   <Action append="close_merge" name="close_cluster_file" />   
   <Action append="close_merge" name="close_event_file" />
   <Action append="close_merge" name="close_position_file" />
   <Separator/>
   <Action name="file_properties" />   
  </Menu>

  <Menu name="edit" >
   <Action append="edit\select_merge" name="edit_select_all_except01" />
   <Action append="edit\select_merge" name="edit_deselect_all" />
   <Separator/>
   <Action append="edit\select_merge" name="edit_mode" />
  </Menu>

  <Menu name="tools_menu" >
   <text>T&amp;ools</text>
   <Action name="zoom" />
   <Action name="draw_time_line" />
   <Action name="select" />
   <Action name="measure" />
   <Action name="time" />
   <Action name="select_event" />
   <Action name="add_event" />
  </Menu>

  <Menu name="channels_menu" >
   <text>&amp;Channels</text>
   <Action name="show_channels"/>
   <Action name="hide_channels"/>
   <Separator/>
   <Action name="create_group" />
   <Action name="discard_spike_channels"/>   
   <Action name="discard_channels"/>
   <Separator/>   
   <Action name="keep_channels" />
   <Action name="skip_channels" /> 
   <Separator/>   
   <Action name="synchronize" />   
   <Separator/> 
   <Action name="apply_display_color"/>
   <Action name="apply_spike_color"/>    
  </Menu>

  <Menu name="clusters_menu" >
   <text>&amp;Units</text>
    <Action name="vertical_lines"/>
    <Action name="raster"/>
    <Action name="waveforms"/>
    <Separator/> 
    <Action name="increase_raster_height"/>
    <Action name="decrease_raster_height"/>  
    <Separator/> 
    <Action name="show_next_cluster" />
    <Action name="show_previous_cluster" />
  </Menu>

  <Menu name="events_menu" >
   <text>E&amp;vents</text>
   <Action name="show_next_event" />
   <Action name="show_previous_event" />   
   <Action name="remove_event" />
  </Menu>

  <Menu name="positions_menu" >
   <text>&amp;Positions</text>
   <Action name="position_view"/>
   <Action name="show_events"/>
  </Menu>
  
  <Menu name="traces_menu" >
   <text>&amp;Traces</text>
    <Action name="display_mode"/>
    <Separator/>
    <Action name="grey_scale"/>
    <Separator/>
    <Action name="increase_all_channels"/>
    <Action name="decrease_all_channels"/>
    <Action name="increase_selected_channels"/>
    <Action name="decrease_selected_channels"/>
    <Action name="reset_gains" />
    <Separator/>    
    <Action name="reset_offsets" />
    <Separator/>
    <Action name="set_default_offsets" />
    <Action name="set_default_offsets_0" />
    <Separator/>
    <Action name="show_labels"/>     
  </Menu>

  <Menu name="displays_menu" >
   <text>&amp;Displays</text>
   <Action name="new_display" />
   <Action name="rename_display" />
   <Action name="close_display" />
  </Menu>


  <Menu name="settings" >
   <Action append="show_toolbar_merge" name="show_toolBar" />
   <Action append="show_toolbar_merge" name="show_parameterBar" />
   <Action append="save_merge" name="show_calibration" />
  </Menu>

 </MenuBar>

 <ToolBar name="mainToolBar" >
  <Action name="edit_mode" />
 </ToolBar>

 
 <ToolBar position="Left" name="toolBar" >
  <text>Tools</text>
  <Action name="zoom" />
  <Action name="draw_time_line" />
  <Action name="select" />
  <Action name="select_event" />
  <Action name="add_event_toolbarAction" />
  <Action name="measure" />
  <Action name="time" />
 </ToolBar>

 <ToolBar position="Left" name="channelBar" >
  <text>Channels Actions</text>
  <Action name="create_group" />
  <Action name="discard_spike_channels"/>
  <Action name="discard_channels"/>
  <Action name="keep_channels" />
  <Action name="skip_channels" />    
  <Action name="show_channels"/>
  <Action name="hide_channels"/> 
 </ToolBar>

 <ToolBar position="Left" name="eventBar" >
  <text>Events Actions</text>
   <Action name="show_previous_event" />
   <Action name="show_next_event" />
 </ToolBar>

<ToolBar position="Left" name="clusterBar" >
  <text>Clusters Actions</text>
   <Action name="show_previous_cluster" />
   <Action name="show_next_cluster" />
 </ToolBar>
  
 <ActionProperties/>
</kpartgui>
