#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
MimeType=Application;application/data-file;application/eeg-file;application/filter-file;application/neuroscope-session
Type=Application
Exec=neuroscope %u 
Icon=neuroscope.png
DocPath=neuroscope/index.html
Terminal=0
Name=Neuroscope
